<!-- MAIN -->
<main>
  <div class="head-title">
    <div class="left">
      <h1>Dashboard</h1>

    </div>

  </div>
  <ul class="box-info">
    <li>
      <i class='bx bxs-group fa fa-solid fa-car-side' ></i>
      <span class="text">
          <h3>{{countRad}}</h3>
          <p>Total Radars</p>
        </span>
    </li>
    <li>
      <i class='bx bxs-group fa fa-solid fa-car-side' ></i>
      <span class="text">
          <h3>{{countVeh}}</h3>
          <p>Total Vehicles</p>
        </span>
    </li>
    <li>
      <i class='bx bxs-dollar-circle fa fa-clipboard-list' ></i>
      <span class="text">
          <h3>{{countInf}}</h3>
          <p>Total Infraction</p>
        </span>
    </li>
  </ul>

</main>
<!-- MAIN -->
